BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeParens: ControlStatements
ColumnLimit: 120
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false